<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228834744241-66etpb3dchsu72b1fpqnpc8vs65b03nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228834744241-66etpb3dchsu72b1fpqnpc8vs65b03nt</string>
	<key>API_KEY</key>
	<string>AIzaSyCAnCImPw34SJ0_5gjsBVciW2rZV1TqN3g</string>
	<key>GCM_SENDER_ID</key>
	<string>228834744241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appmofix.streaming</string>
	<key>PROJECT_ID</key>
	<string>appmofix-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>appmofix-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228834744241:ios:805ea6d4690100f3c54f90</string>
	<key>DATABASE_URL</key>
	<string>https://appmofix-ios.firebaseio.com</string>
</dict>
</plist>