page-profile {
    .card{
        //https://www.hiclipart.com/free-transparent-background-png-clipart-yilcm/download
        box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
        background-color: rgb(252, 244, 244);
      }
      .card-down{
        background-color: #0e1516;
      
      }
      .card-web-site{
        background-color: #fe601a;
      
      }
      .text-card {
        color: #000000;
  }
  .card-header{
    color: #eb2f06;
  }
}
